.Confirmed{
    color: blue;
}
.Deaths{
    color: red;
}
.Recovered{
    color: green;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
